<!DOCTYPE html>
<html lang="en">

<head>
    <title>WIKI MAP</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<body>

<!-- <header>

</header> -->

<main class="container">

<!--       <section>
        <form method="GET" action="/Maps/BestPlacesToronto">
          <button type="submit">Best Places to Eat In Toronto</button>
        </form>
      </section>
 -->
      <section>
        <form method="GET" action="/maps">
          <button type="submit" class="toronto">Best Restaurants in Toronto</button>
        </form>
      </section>



<!--       <section>
        <form method="GET" action="/">
          <button type="submit">Best Places to watch a movie In Toronto</button>
        </form>
      </section> -->

</main>



<footer>

</footer>

</body>

