body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.categoriesTop div {
  padding: 5px;
  margin: 10px;
  width: 20%;
  height: 35vh;
  background-color: #ccc;
  border: 1px solid #900;
  float: left;
  text-align: center;

}

.categoriesBot div {
  padding: 5px;
  margin: 10px;
  width: 20%;
  height: 35vh;
  background-color: #ccc;
  border: 1px solid #900;
  float: left;
  text-align: center;

}

.nav {
  background-color: #eee;
  border: 1px solid #900;
  padding: 10px;
}

.map-button {
  display: block;
  margin: auto;
}

.container-all {
  text-align: center;
}

.allMaps, .allMaps:visited {

 display: inline-block;
 padding: 5px 10px 6px;
 color: #0047b3;
 text-decoration: none;
 -moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
 text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
 border-bottom: 1px solid rgba(0,0,0,0.25);
 position: relative;
 cursor: pointer;
 font-size: 20px;
 background-color: #b3d1ff;
 margin: 2px;
}

.allMaps:hover { background-color: #9999ff; }
.allMaps:active {
  background-color:#9999ff;
  transform: translateY(4px);
}
